

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  margin-top: 20px;
  font-size: 18px;
  font-family: Arapey;
  color: #808080;
}
p#pseg{
  text-align: center;
}
h1{
  font-family: Jura;
  font-size: 40px;
  float: left;
}
h2{
  margin-top: 15px;
  font-size: 38px;
  font-weight: 300;
  font-family: Arapey;
  color: #555555;
}
h2#secundario{
  font-size: 34px;
  font-weight: 300;
  font-family: Arapey;
  color: #555555;
}
h2#h2{
  font-size: 24px;
  font-weight: 300;
  font-family: Arapey;
  color: #000000;
  margin-top: 25px;
}
h3{
  font-family: Quicksand;
  font-size: 18px;
  font-weight: 100;
  color: #AFAFAF;
}
h3#comment{
  margin-top: 50px;
  font-family: Quicksand;
  font-size: 18px;
  font-weight: 100;
  color: #AFAFAF;
}
h4{
  font-family: Arapey;
  font-size: 18px;
  font-weight: 60;
  color: #AFAFAF;
  text-decoration: none;
  float: right;
}
hr {
  margin-left: 38%;
  margin-right: 38%;
  background-color: black;
}

.negro{
  margin-top: 50px;
  color: #000000;
  text-align: center;
}
section#general{
  border-radius: 1em;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 986px;
  height: auto;
  display: block;
}
section#menu{
  margin-top: 50px;
  border-radius: 1em;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
section#menu a{
  text-decoration: none;
}
section#menu img{
  margin-top: 80px;
}
section#banner{
  margin: auto;
  margin-top: 70px;
}
section#bloque{
  margin-top: 2470px;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 1140px;
  height: 260px;
  background: #EFF1F1;
}
section#bloqueSeg{
  margin-top: 3560px;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 1180px;
  height: 100px;
  background: #EFF1F1;
}
section#bloqueTec{
  margin-top: 3500px;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 1140px;
  height: 400px;
  background: #EFF1F1;
}
section#columna{
  margin-top: 2960px;
  border-radius: 1em;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 986px;
  height: auto;
  display: block;
}
div#izquierdo{
  margin-top: 160px;
  float: left;
  display: block;
}
div#derecho{
  margin-top: 160px;
  display: block;
  float: right;
}
div#izquierdo2{
  float: left;
  display: block;
}
div#derecho2{
  display: block;
  float: right;
}
div#primero{
  float: left;
  display: block;
}
div#segundo{
  width: auto;
}
div#tercero{
  display: block;
  float: right;
}
div#cuadrado {
  margin-top: 140px;
  margin-left: 42%;
  margin-right: 42%;
  border: black 0.5px solid;
  text-align: center;
  padding: 2px;
}
.margenGenA{
  margin-top: 1330px;
}
.margenGenB{
  margin-top: 1880px;
}
