@font-face {
  font-family: Radina;
  src: url(TRABAJO/Fuentes/Radina.otf);
}
@font-face {
  font-family: Quicksand;
  src: url(TRABAJO/Fuentes/Quicksand-Regular.otf);
}
@font-face {
  font-family: Arapey;
  src: url(Fuentes/Arapey-Regular.ttf);
}
@font-face {
  font-family: Syncopate-Regular;
  src: url(Fuentes/Syncopate-Regular.ttf);
}
@font-face {
  font-family: Jura;
  src: url(Fuentes/Jura-Regularr.ttf);
}
